# Variables para develop. Reemplazar con valores reales en producción.
ENVIRONMENT=development
HOST=0.0.0.0
PORT=8080
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=db
DATABASE_USER=admin
DATABASE_PASSWORD=password